<div>
    <br>
    <br>
    <h1 class="titulo"><span>HARD & SOFT SKILLS</span></h1> 
    <br>
    <div> 
        <button id="button-1" class="btn btn-primary" routerLink="/nuevahabilidades" *ngIf="isLogged"> Agregar Habilidades</button>
    </div>
    <div class="habilidades" *ngFor="let habilidades of habilidades">
    
    <li  class="skill-box">
        <h3>{{habilidades.nombre}}</h3>
        <span  class="barra"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width:{{habilidades.porcentaje}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></span>
        
        <br>
        <td *ngIf="isLogged">
            <button class="btn btn-primary" routerLink="/edithabilidades/{{habilidades.id}}"><i class="bi bi-pen"></i></button>
        </td>
        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="borrar(habilidades.id)"><i class="bi bi-trash3"></i></button></td>
    </li>
    
</div>
