div{
    padding: 2rem;
    margin-top: -1rem;
    background-color: orangered;
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    list-style: none;
    
}
h1 span{
    font-size: 3rem;
    background-color: black;
    line-height: normal;
    color:white;
    padding: 5px;
}

.titulo{
    transform: rotate(-5deg);
}
.habilidades{
    width: 500px;
    margin:50px auto;
    background-color: orange;
    padding:20px;
    box-shadow: 0 14px 28px, 0 10px 10px;
    
}


.barra{
    background-color: white;
    display: block;
    height: 20px;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px, 0 1px 2px;
    transition: all 0.3s cubic-bezier(.25, .8,.25,1);
}

.barra:hover{
    box-shadow: 0 7px 14px, 0 5px 5px;

}

.barra span{
    height: 20px;
    float: left;
    background:linear-gradient(130deg, orange 0%, orangered 100%)
}

div .porcentaje{
    width: 50%;
    
    
}

button{
    margin: -100px;
    margin-left: 150px;
}

#button-1 {
   
    margin-right: 190px;
}


   

    
   

    
  

    
    

    /*media queries*/

    @media screen and (max-width:500px){
        div{
            display:block;
            width: 100%;
            align-items: center;
        }
        .habilidades{
            display:block;
            width: 100%;
            align-items: center;

        }

        h1 span{
            font-size: 2rem;
            margin-left: 20px;
        }
        
        #button-1{
            margin-left: 30%;
        }

        button{
            margin:10px;
            margin-left: 190%;
        }

        
    }


    @media screen and (min-width:768px) and (max-width:1024px){
        div{
            display: block;
        }
        .habilidades{
            display:block;
            align-items: center;
        }

        
    }

    @media screen and (min-width:1200px){
        div{
            display: block;
        }

        .habilidades{
            display:block;
            align-items: center;
        }

        
    }

  

  