<img src="../../assets/experiencialaboral.svg" alt="">

<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="CargarExpLab()" novalidate #f = "ngForm">
            <div class="form-group">
                <label for="nombreExp">EMPRESA Y AÑO</label>
                <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>
            </div>
            <div class="form-group">
                <label for="descripcionExp">TAREAS REALIZADAS</label>
                <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required>
            
            </div>
            <br>
            <div class="btn-center">
                <button class="btn btn-dark">Agregar Experiencia Laboral</button>
            </div>
            
        </form>      
        </div> 
    </div>
</div>
