
<div>
    
<br>
    <h1 class="titulo"><span> EXPERIENCIA LABORAL </span></h1>
    <div>
        <ol>
            <li>
                <h2>Empresa</h2>
                <h3>Año 2020</h3> 
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, libero distinctio doloribus suscipit ab ratione facilis inventore? Ut odit alias perferendis quaerat dolore est autem architecto nam animi minus? Alias?</p>
            <li>
                <h2>Empresa</h2>
                <h3>Año 2021</h3> 
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, libero distinctio doloribus suscipit ab ratione facilis inventore? Ut odit alias perferendis quaerat dolore est autem architecto nam animi minus? Alias?</p>
            <li>
                <h2>Empresa</h2>
                <h3>Año 2022</h3> 
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, libero distinctio doloribus suscipit ab ratione facilis inventore? Ut odit alias perferendis quaerat dolore est autem architecto nam animi minus? Alias?</p>
        </ol>
    </div>
</div>
