div{
    padding: 2rem;
    margin-top: -1rem;
    background-color: seagreen;
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;

}
ol{
    list-style: none;
}

h1 span{
    font-size: 3rem;
    background-color: black;
    line-height: normal;
    color:white;
    padding: 5px;
    
}

.titulo{
    transform: rotate(5deg);
}

button{
    margin: -16px;
    margin-bottom: 1px;
    position: static;
}

@media screen and (max-width:500px){
    div{
        margin-left: -6%;}

  
    h1 span{
        font-size: 2rem;
        margin-left: 20px;
    }

  button{
    
        margin: 1px;
        margin-bottom: 1px;
        position: static;
        padding: 5px;
  }

  #button-1{
    margin-left: 80px;
  }


}