<img src="../../assets/undraw_authentication_re_svpt.svg" alt="">


<div class="container">
    <h2>login</h2>
    <form>
        <input type="text" class="email" placeholder="email">
        <br />
        <input type="text" class="pwd" placeholder="contraseña">
    </form>
    <a href="#" class="link">
        Olvidaste tu contraseña?
    </a>
    <br />
    <button class="register">
        <span>REGISTRATE!</span>
    </button>
    <button class="signin">
        <span>INGRESÁ</span>
    </button>
    <h3>your registration is complete ! </h3>
    <h3>your sign in is complete !</h3>
    <div class="reg"></div>
    <div class="sig"></div>
</div>