div{
    padding: 2rem;
    margin-top: -1rem;
    background-color: blueviolet;
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
ol{
    list-style: none;
}
h1 span{
    font-size: 3rem;
    background-color: black;
    line-height: normal;
    color:white;
    padding: 5px;
    
}
.titulo{
    transform: rotate(-5deg);
}