<div>
    <h1>HARD & SOFT SKILLS</h1>
    <li>
        <h3>HTML</h3>
        <span class="barra"> <span class="html"></span></span>
    </li>
    <li>
        <h3>CSS</h3>
        <span class="barra"> <span class="css"></span></span>
    </li>
    <li>
        <h3>JAVASCRIPT</h3>
        <span class="barra"> <span class="javascript"></span></span>
    </li>
    <li>
        <h3>Responsabilidad</h3>
        <span class="barra"> <span class="responsabilidad"></span></span>
    </li>
    <li>
        <h3>Trabajo en Equipo</h3>
        <span class="barra"> <span class="trabajo-en-equipo"></span></span>
    </li>
    <li>
        <h3>Gestion del Tiempo</h3>
        <span class="barra"> <span class="gestion-del-tiempo"></span></span>
    </li>
</div>
