<div>
    <br>
    <h1 class="titulo"><span>HARD & SOFT SKILLS</span></h1> 
    <div> 
        <button type="button" class="btn btn-primary" routerLink="/nuevahabilidades" *ngIf="isLogged"> Agregar Habilidades</button>
    </div>
    <div class="habilidades" *ngFor="let habilidades of habilidades">
    
    <li>
        <h3>{{habilidades.nombre}}</h3>
        <span class="barra"> <span class="html"></span></span>
        <td *ngIf="isLogged">
            <button class="btn btn-primary" routerLink="/edithabilidades/{{habilidades.id}}"><i class="bi bi-pen"></i>Editar</button>
        </td>
        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="borrar(habilidades.id)"><i class="bi bi-trash3"></i>Borrar</button></td>
    </li>
    
</div>
