<img src="../../assets/educacion.svg" alt="">

<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="CrearEstudios()" novalidate #f = "ngForm">
            <div class="form-group">
                <label for="nombreEdu">NOMBRE INSTITUCION</label>
                <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" required>
            </div>
            <div class="form-group">
                <label for="descripcionEdu">DESCRIPCION ESTUDIOS REALIZADOS</label>
                <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" required>
            
            </div>
            <br>
            <button class="btn btn-dark">Agregar Nuevo Estudio</button>
        </form>      
        </div> 
    </div>
</div>