<img src="../../assets/undraw_authentication_re_svpt.svg" alt="">


<div class="container">
    <h2>login</h2>
    
   <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <input type="text" class="nombreUsuario" placeholder="USUARIO" id="nombreUsuario"  [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
    <br />
    <input type="password" id="password" class="password" placeholder="CONTRASEÑA" [(ngModel)]="password" name="password" required>
    <br />
    <!--<button class="register">
        <span>REGISTRATE!</span>
    </button>-->
    <button type="submit" class="signin">
        <span>INGRESÁ</span>
    </button>
    </form>
       
    
    <h3>your registration is complete ! </h3>
    <h3>your sign in is complete !</h3>
    <div class="reg"></div>
    <div class="sig"></div>
</div>