<div class="row">
    <br>
    <h1 class="bienvenida"><span>BIENVENIDOS A MI PORTFOLIO</span></h1> 
<br>
<br>
<br>
   <h1 class="titulo"><span> ACERCA DE MI </span></h1>
   <div>
    <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged"> Editar Persona</button>
</div>

    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="foto-perfil">
    </div>

   
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p><span class="nombre">{{persona.nombre}} {{persona.apellido}}</span> </p>
        <p><span class="titulo-dev">Full Stack Developer Jr</span></p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-8">
        <br>
        <br>
        <div class="info-personal">{{persona.descripcion}} </div>
    </div>
</div>