<div class="row">
    <br>
    <h1 class="bienvenida">BIENVENIDOS A MI PORTFOLIO WEB</h1> 
<br>
<br>
<br>
<br>
   <h1 class="titulo"><span> ACERCA DE MI </span></h1>
   <div>
    <br>
    <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged"> Editar Persona</button>
</div>

    <br>
    <br>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
        <img src={{persona.img}} class="img-fluid" id="foto-perfil">
    </div>

   
    <div class="container">
        <p><span class="nombre">{{persona.nombre}} {{persona.apellido}}</span> </p>
        <p><span class="titulo-dev">Full Stack Developer Jr</span></p>
    </div>
    <div class="info-personal">
    
        <p>{{persona.descripcion}} </p>
    </div>
</div>