div{
    padding: 2rem;
    margin-top: -1rem;
    background-color: #FFD747;
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    
    

}



h1 span {
    font-size: 3rem;
    background-color: black;
    line-height: normal;
    color:white;
    padding: 5px;
    
}

.titulo{
    margin-top: 2rem;
    transform: rotate(5deg);
}



#foto-perfil{
    width: 450px;
    height: auto;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 4px 4px 8px 1px black;
    margin-top: 10px;
    
    

    
    
}

.nombre {
    font-size: 2rem;
    background-color: black;
    line-height: normal;
    color:white;
    padding: 3px;
    margin-left: -1050px;
    
    
    

}

.titulo-dev{
    font-size: 1rem;
    background-color: black;
    line-height: normal;
    color:white;
    padding: 3px;
    margin-left: -1050px;
    
}

div .info-personal{
    font-size: 24px;
    line-height: normal;
    color:white;
    margin-right: -400px;
    padding-top: -500px;
    
    
    
    
}




@media (min-width:576px){
    #foto-perfil{
        position: absolute;
        width: 20%;
        left:1%;
        height: auto;
        border-radius: 50%;
        background-size: cover;
        box-shadow: 4px 4px 8px 1px black;
        margin-top: -400px;
        
        
    }

    
    

}


@media (max-width:1200px){
   
   
   
    

}




