<div>
    

    <h1>MIS ESTUDIOS Y CERTICADOS</h1>
    <div >
        <ol>
            <li>
                <h2>#ARGENTINAPROGRAMA</h2>
                <h3>Año 2020</h3> 
                <h4>Full Stack Developer Jr</h4>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, libero distinctio doloribus suscipit ab ratione facilis inventore? Ut odit alias perferendis quaerat dolore est autem architecto nam animi minus? Alias?</p>
            <li>
                <h2>UDEMY</h2>
                <h3>Año 2021</h3> 
                <h4>Curso HTML desde 0</h4>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, libero distinctio doloribus suscipit ab ratione facilis inventore? Ut odit alias perferendis quaerat dolore est autem architecto nam animi minus? Alias?</p>
            <li>
                <h2>GOOGLE ACTIVATE</h2>
                <h3>Año 2022</h3> 
                <h4>Curso Fundamentos de Marketing Digital</h4>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, libero distinctio doloribus suscipit ab ratione facilis inventore? Ut odit alias perferendis quaerat dolore est autem architecto nam animi minus? Alias?</p>
        </ol>
    </div>
</div>