<div>
    <img src="../../assets/fotoperfil.png" alt="">
    <div>
        <h1>BIENVENIDOS A <br>
            MI PORTFOLIO</h1>
       
        <p class="nombre">Nadia Azul Boero</p>
        <p class="titulo">Full Stack Developer Jr</p>
    </div>
    <div>
        <h2>ACERCA DE MI</h2>
        <p class="info">Mi nombre es Nadia, tengo 25 años, soy desarroladora Full Stack y estoy aca para ayudarte, en esta página encontraras toda mi información y los trabajos que he ido realizando en mi reciente carrera de programadora, vamos, te invito a conocerme!</p>
    </div>
</div>

