img{
    position: absolute;
    margin:-200px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    float: left;
    left:220px;
    box-shadow:black 0px 5px 20px;
    margin-bottom: 0;
    
    
}
div{
    background-color: darkcyan;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color:white;
    
    
    
    

 

}
h1{
    font-size: 4rem;
    padding-top: -3rem;
    padding-bottom: 1rem;
    color: white;
    
   
}
h2 span{
    font-size: 3rem;
    background-color: black;
    line-height: normal;
    color: white;
    padding: 5px;
    
}

.titulo-2{
    transform: rotate(5deg);
}

.nombre span{
    font-size: 1.5rem;
    font-weight:normal;
    text-align: left;
    position: relative;
    margin-left: -950px;
    background-color: black;
    line-height: normal;
    color: white;
    padding: 10px;
    
    

    
}
.titulo span{
    font-size: 0.8rem;
    font-weight: normal;
    text-align: left;
    position: relative;
    margin-left: -950px;
    background-color: black;
    line-height: normal;
    color: white;
    padding: 10px;
    
}
.titulo{
    margin-top: 65px;
    transform: rotate(3deg);
    padding:0;
}
.nombre{
    margin-top:-100px;
    transform: rotate(-4deg);
}

.info{
    font-size: 1rem;
    text-align: inherit;
    padding-bottom: 2rem;
    
    
}


@media screen and (max-width:480px){
    img{
        margin-top: -117px;
        width: 7rem;
        height:7rem;

    }
}