img{
    position: relative;
    margin:-200px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    float: left;
    left:220px;
    box-shadow:black 0px 5px 20px;
    
    
}
div{
    background-color: darkcyan;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color:white
    
    

 

}
h1{
    font-size: 4rem;
    padding-top: -3rem;
    padding-bottom: 1rem;
    color: white;
    
   
}
h2{
    font-size: 2rem;
    
    color: white;
}

.nombre{
    font-size: 1.5rem;
    font-weight:normal;
    text-align: left;
    position: relative;
    margin-left: 100px;
    margin-top: -5rem;
    

    
}
.titulo{
    font-size: 0.8rem;
    font-weight: normal;
    text-align: left;
    position: relative;
    margin-left: 125px;
    margin-top: -1.5rem;
    
    


    
}

.info{
    font-size: 1rem;
    text-align: inherit;
    padding-bottom: 2rem;
    
    
}